@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette|Noto+Sans+TC:500|Noto+Serif+TC:900|Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:500|Noto+Serif+TC:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:900&display=swap');

*{box-sizing: border-box;}

#con1{
	
	top:0;
	left:5.35em;
	z-index: 1;
}
#p.slogn{
	position:relative;
	top:-300px;
}
header nav img{
	height:100px;
	max-width:100px;
}
.navbar-nav>li {
 max-width:9em;
 margin-left:2em;
}

#buycar{
display: block;
top:40em;
left:69.25em;
z-index: 3;
}

#con2{
position: relative;
top:9em;	
z-index: -1;
}

#con3{
	font-family: 'Courgette', cursive;
	position: relative;
	top:8em;
}

#con3 p{
	text-indent:4em;
}

#con4 figure{
	position: relative;
	height:25em;
	max-width: 34.25em;
	overflow: hidden;
	position: relative;
	top:10em;
}

#con4 figure img{
	max-width: 110%;
	height:100%;
	transition: all 1s;
}

#con4 figure:hover img{
transform:scale(1.5,1.5);
}

#con4 figure figcaption{
	height:40em;
	max-width:40em;
	background-color:rgba(0,0,0,0.8);
	color: #fff;
	transform: translate(0em,-30em);
	text-shadow: 1px 1px 1px #693;
	opacity: 0;
	transition: all 0.8s;
}

#con4 p{
	line-height:8.25em;
	font-size: 4em;
	text-align:left;
}

#con4 figure:hover figcaption{
	opacity: 1;
}

#con4 p{
  position:relative;
  top:5px;
  left:100px;
  	font-family: 'Noto Serif TC', serif;
}

#navbarSupportedContent a{
	font-family: 'Noto Serif TC', serif;
}
#navbarSupportedContent a:hover{
		color:#65c4e0;
}

h1{
	font-family: 'Noto Sans TC', sans-serif;
}
h3{
	font-family: 'Noto Serif TC', serif;
}


#d1{
	float: left;
}


#d2{
	float: left;
	margin-left:2em;
}

#Search{
	position: relative;
	/*left:3.25em;*/
	max-width:8em;}

/*#sf button{
	max-width:3em;
}*/


#fot p{
	position: relative;
	top:10em;
	bottom:0em;
	text-align:center;
	left:0.5em;
	font-family: 'Courgette', cursive;
	z-index: 1;
}

label{
	font-family: 'Noto Serif TC', serif;
	
}

button{
	font-family: 'Noto Serif TC', serif;
	
}


.card-title
{
	font-family: 'Courgette', cursive;
	color:#65c4e0;
}


