<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>DA105G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/DA105G5</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>DBGifReader2</servlet-name>
    <servlet-class>com.mem.controller.DBGifReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader2</servlet-name>
    <url-pattern>/DBGifReader2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/back-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/front-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebmasterServlet</servlet-name>
    <servlet-class>com.webmaster.controller.WebmasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebmasterServlet</servlet-name>
    <url-pattern>/back-end/webmaster/webmaster.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FuncServlet</servlet-name>
    <servlet-class>com.func.controller.FuncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncServlet</servlet-name>
    <url-pattern>/back-end/func/func.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mat_recordServlet</servlet-name>
    <servlet-class>com.mat_record.controller.Mat_recordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mat_recordServlet</servlet-name>
    <url-pattern>/front-end/mat_record/mat_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mdst_recordServlet</servlet-name>
    <servlet-class>com.mdst_record.controller.Mdst_recordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mdst_recordServlet</servlet-name>
    <url-pattern>/front-end/mdst_record/mdst_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mdpst_recordServlet</servlet-name>
    <servlet-class>com.mdpst_record.controller.Mdpst_recordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mdpst_recordServlet</servlet-name>
    <url-pattern>/front-end/mdpst_record/mdpst_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mra_recordServlet</servlet-name>
    <servlet-class>com.mra_record.controller.Mra_recordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mra_recordServlet</servlet-name>
    <url-pattern>/back-end/mra_record/mra_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mrds_recordServlet</servlet-name>
    <servlet-class>com.mrds_record.controller.Mrds_recordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mrds_recordServlet</servlet-name>
    <url-pattern>/back-end/mrds_record/mrds_record.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Mrds_recordServlet</servlet-name>
    <url-pattern>/front-end/mrds_record/mrds_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.friend.controller.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/front-end/friend/friend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authority_manageServlet</servlet-name>
    <servlet-class>com.authority_manage.controller.Authority_manageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authority_manageServlet</servlet-name>
    <url-pattern>/back-end/authority_manage/authority_manage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WxScheduled</servlet-name>
    <servlet-class>com.locale.controller.WxScheduled</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxScheduled</servlet-name>
    <url-pattern>/Wxtimer.do</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>LocPic4</servlet-name>
    <servlet-class>com.util.LocPic4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocPic4</servlet-name>
    <url-pattern>/LocPic4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostPic4</servlet-name>
    <servlet-class>com.util.PostPic4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostPic4</servlet-name>
    <url-pattern>/PostPic4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DpServlet</servlet-name>
    <servlet-class>com.dive_point.controller.DpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DpServlet</servlet-name>
    <url-pattern>/dive_point/dp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocServlet</servlet-name>
    <servlet-class>com.locale.controller.LocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocServlet</servlet-name>
    <url-pattern>/locale/loc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrmServlet</servlet-name>
    <servlet-class>com.forum.controller.FrmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrmServlet</servlet-name>
    <url-pattern>/forum/frm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MempoServlet</servlet-name>
    <servlet-class>com.mem_post.controller.MempoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MempoServlet</servlet-name>
    <url-pattern>/mem_post/mempo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PocmtServlet</servlet-name>
    <servlet-class>com.post_comment.controller.PocmtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PocmtServlet</servlet-name>
    <url-pattern>/post_comment/pocmt.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WeatherDataWithServlet</servlet-name>
    <servlet-class>WeatherDataWithServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EquipCServlet</servlet-name>
    <servlet-class>com.equipc.controller.EquipCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipCServlet</servlet-name>
    <url-pattern>/EquipC/equipC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EquipServlet</servlet-name>
    <servlet-class>com.equip.controller.EquipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipServlet</servlet-name>
    <url-pattern>/Equip/equip.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EqpicServlet</servlet-name>
    <servlet-class>com.eqpic.controller.EqpicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EqpicServlet</servlet-name>
    <url-pattern>/Eqpic/eqpic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintPic</servlet-name>
    <servlet-class>com.toolbox.PrintPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintPic</servlet-name>
    <url-pattern>/PrintPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RentCart</servlet-name>
    <servlet-class>com.rocart.controller.RentCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentCart</servlet-name>
    <url-pattern>/RentCart/rentcart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ROrderServlet</servlet-name>
    <servlet-class>com.rorder.controller.ROrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ROrderServlet</servlet-name>
    <url-pattern>/ROrder/rorder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiveshopServlet</servlet-name>
    <servlet-class>com.diveshop.controller.DiveshopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiveshopServlet</servlet-name>
    <url-pattern>/diveshop/diveshop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DspicServlet</servlet-name>
    <servlet-class>com.dspic.controller.DspicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DspicServlet</servlet-name>
    <url-pattern>/dspic/dspic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LespicServlet</servlet-name>
    <servlet-class>com.lespic.controller.LespicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LespicServlet</servlet-name>
    <url-pattern>/lespic/lespic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PicReader4</servlet-name>
    <servlet-class>com.dspic.controller.DBGifReader4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicReader4</servlet-name>
    <url-pattern>/dspic/DBGifReader4.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonServlet</servlet-name>
    <servlet-class>com.lesson.controller.LessonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonServlet</servlet-name>
    <url-pattern>/lesson/lesson.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonorderServlet</servlet-name>
    <servlet-class>com.lessonorder.controller.LessonorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonorderServlet</servlet-name>
    <url-pattern>/lessonorder/lessonorder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dsrm_recordServlet</servlet-name>
    <servlet-class>com.dsrm_record.controller.Dsrm_recordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dsrm_recordServlet</servlet-name>
    <url-pattern>/dsrm_record/dsrm_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonTimer</servlet-name>
    <servlet-class>com.lesson.controller.LessonTimer</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonTimer</servlet-name>
    <url-pattern>/LessonTimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Act_List_Servlet</servlet-name>
    <servlet-class>com.act_list.controller.Act_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Act_List_Servlet</servlet-name>
    <url-pattern>/front-end/act_list/act_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Agp_List_Servlet</servlet-name>
    <servlet-class>com.agp_list.controller.Agp_List_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agp_List_Servlet</servlet-name>
    <url-pattern>/front-end/agp_list/agp_list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gp_Ept_Servlet</servlet-name>
    <servlet-class>com.gp_ept.controller.Gp_Ept_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gp_Ept_Servlet</servlet-name>
    <url-pattern>/front-end/gp_ept/gp_ept.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mrl_Record_Servlet</servlet-name>
    <servlet-class>com.mrl_record.controller.Mrl_Record_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mrl_Record_Servlet</servlet-name>
    <url-pattern>/front-end/mrl_record/mrl_record.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader</servlet-name>
    <servlet-class>blob.reader.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader</servlet-name>
    <url-pattern>/front-end/act_list/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGifReader1</servlet-name>
    <servlet-class>com.agp_list.controller.DBGifReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGifReader1</servlet-name>
    <url-pattern>/front-end/agp_list/DBGifReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServletApp</servlet-name>
    <servlet-class>android.mem.controller.MemServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServletApp</servlet-name>
    <url-pattern>/MemServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiveshopServletApp</servlet-name>
    <servlet-class>android.diveshop.controller.DiveshopServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiveshopServletApp</servlet-name>
    <url-pattern>/DiveshopServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DspicServletApp</servlet-name>
    <servlet-class>android.dspic.controller.DspicServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DspicServletApp</servlet-name>
    <url-pattern>/DspicServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonServletApp</servlet-name>
    <servlet-class>android.lesson.controller.LessonServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonServletApp</servlet-name>
    <url-pattern>/LessonServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LespicServletApp</servlet-name>
    <servlet-class>android.lespic.controller.LespicServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LespicServletApp</servlet-name>
    <url-pattern>/LespicServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ROrderServletApp</servlet-name>
    <servlet-class>android.rorder.controller.ROrderServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ROrderServletApp</servlet-name>
    <url-pattern>/ROrderServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LessonorderServletApp</servlet-name>
    <servlet-class>android.lessonorder.controller.LessonorderServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonorderServletApp</servlet-name>
    <url-pattern>/LessonorderServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoDetailServletApp</servlet-name>
    <servlet-class>android.rodetail.controller.RoDetailServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoDetailServletApp</servlet-name>
    <url-pattern>/RoDetailServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EquipServletApp</servlet-name>
    <servlet-class>android.equip.controller.EquipServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EquipServletApp</servlet-name>
    <url-pattern>/EquipServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EqpicServletApp</servlet-name>
    <servlet-class>android.eqpic.controller.EqpicServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EqpicServletApp</servlet-name>
    <url-pattern>/EqpicServletApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DivepointServletApp</servlet-name>
    <servlet-class>android.divepoint.controller.DivepointServletApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DivepointServletApp</servlet-name>
    <url-pattern>/DivepointServletApp</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>setCharacterEncoding</filter-name>
    <filter-class>com.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>setCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>adminLoginFilter</filter-name>
    <filter-class>com.filters.adminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>adminLoginFilter</filter-name>
    <url-pattern>/back-end/webmaster/*</url-pattern>
    <url-pattern>/back-end/mrds_record/*</url-pattern>
    <url-pattern>/back-end/locale/*</url-pattern>
    <url-pattern>/back-end/dive_point/*</url-pattern>
    <url-pattern>/back-end/forum/*</url-pattern>
    <url-pattern>/back-end/mem_post/*</url-pattern>
    <url-pattern>/back-end/post_comment/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/memCenter/*</url-pattern>
    <url-pattern>/front-end/mem/memLogin.jsp</url-pattern>
    <url-pattern>/front-end/forum/*</url-pattern>
    <url-pattern>/front-end/rentcart/Cart.jsp</url-pattern>
    <url-pattern>/front-end/act_list/*</url-pattern>
    <url-pattern>/front-end/agp_list/*</url-pattern>
    <url-pattern>/front-end/gp_ept/*</url-pattern>
    <url-pattern>/front-end/mrl_record/*</url-pattern>
    <url-pattern>/front-end/lessonorder/addLessonorder.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>dsLoginFilter</filter-name>
    <filter-class>com.filters.dsLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dsLoginFilter</filter-name>
    <url-pattern>/back-end/diveshop-master/diveshop-master.jsp</url-pattern>
    <url-pattern>/front-end/mem/dsLogin.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
</web-app>